body {
	padding: 5em;
}
span {
	background: DodgerBlue;
	color: #ffffff;
  }
  
  span#top {
	background: DodgerBlue;
  }
  span.sky {
	background: DodgerBlue;
  }
  .code {
	font-family:
	  Consolas;
  }
  div.items a { 
	color: green;
	font-weight: bold;
  }
  p + p {
	font-style: italic;
	font-weight: bold;
  }
  div > span {
	background: DodgerBlue;
  }
  span { background: #fff; }
  .apple { color: red }
  .orange { color: orange }
  .small { font-size: 16px }
  .apple.orange {
	font-style: italic;
  }
  a[title="menu"] {
	text-decoration: none;
	color: #962103;
	font-size: 22px;
  }
  h5, h6, p {
	background: yellow;
  }
  h6#header.intro {
	text-decoration:
	  underline;
	color: #C00;
  }
  
  
  
ul li:nth-child(even) {
	text-decoration: overline;
}

ul li:first-of-type {
	color: red;
	font-size: 1.5em;
}

.last {
	color: rgb(9, 255, 0);
	font-size: 1.5em;
}

[data-type='secondary'] {
	color: rgb(0, 81, 255);
}

li::marker {
	color: aqua;
}

::selection {
	background: black;
	color: white;
}

table {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 1.5rem;
	border: 1px solid rgb(221, 221, 221);
	border-spacing: 0;
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid rgb(221, 221, 221);
	padding: 0.3rem 0.5rem;
}

table thead th {
	text-align: left;
	background: rgb(241, 241, 241);
}

table tr:nth-child(odd) td {
	background: #F1F1F1;
}

table tr:hover td {
	background: black;
	color: #FFF;
	border-color: transparent;
}

ul, ol {
	padding: 0;
	margin-left: 1.5rem;
}

tr:nth-child(2n) {
	background: #95313b;
	color: #fff;
}

p:nth-of-type(2) {
	background: #95313b;
	color: #fff;
}