@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(246, 168, 168);
    width: 1440px;
    height: 120px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    color: yellow;
    padding-top: 25px;
}

ul li {
    display: inline;
    padding-left: 10px;
    font-size: 20px;
}

ul :last-child {
    color: rgb(246, 168, 168);
}

.main {
    background-color: rgb(246, 255, 211);
    width: 1440px;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

.first {
    margin: 10px;
}

.first p:first-letter {
    color: rgb(246, 168, 168);
}

.first p:last-child {
    color: rgb(196, 196, 196)
}

.first p:first-of-type:first-letter {
    font-size: 40px;
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p+p::first-line {
    font-style: italic;
    font-weight: bold;
}

a[title="menu"] {
    text-decoration: none;
    color: #962103;
    font-size: 22px;
}

li::marker {
    color: rgb(246, 168, 168);
}

::selection {
    background: black;
    color: white;
}

.container {
    margin-top: 92px;
    vertical-align: top;
}

.img {
    margin-top: 0;
    background-color: rgb(246, 168, 168);
    width: 500px;
    height: 450px;
    margin-left: 139px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

img {
    margin-top: 0;
    width: 446px;
    height: 402px;
    padding: 21px 29px 27px 25px;
    box-sizing: border-box;
}

.paragraf {
    margin-top: 0;
    margin: 0;
    background-color: rgb(196, 196, 196);
    width: 630px;
    height: 450px;
    padding: 0 0 0px 26px;
    margin-left: 139px;
    overflow: auto;
    display: inline-block;
}

p {
    display: block;
    font-size: 24px;
    line-height: 28, 13px;
    padding-top: 21px;
}

#info {
    float: right;
    background: #119911;
    color: #ffffff;
    padding: 0.5em 2em 0.5em 2em;
    margin: 1em;
    display: none;
    position: absolute;
    top: 300px;
    right: 450px;
}

.countries {
    column-count: 3;
    column-gap: 2em;
    margin: 2px;
    padding: 1px;
    text-align: justify;
   
}